<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{layout/layout :: layout (~{::body})}">
</head>
<body>
<div>
    <label>
        Change Password
    </label>
</div>
<br/>
<form th:object="${passwordDto}" th:action="@{/changePassword}" method="post">
    <div class="container">
        <input type="hidden" class="form-control" th:field="*{username}"/>
        <div>
            <label> Current Password: <input class="form-control" th:field="*{password}"/> </label>
            <p th:if="${#fields.hasErrors('password')}" class="label-danger" th:errors="*{password}">password err</p>
        </div>
        <div>
            <label> New Password: <input class="form-control" th:field="*{newPassword}"/> </label>
            <p th:if="${#fields.hasErrors('newPassword')}" class="label label-danger" th:errors="*{newPassword}">password
                err</p>
        </div>
        <br/>
        <br/>
        <div><input type="submit" class="btn btn-default" value="Change"/></div>
    </div>
</form>
</body>
</html>

<!DOCTYPE html>

