<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{layout/layout :: layout (~{::body})}">
</head>
<body>
<form th:object="${findPasswordDto}" th:action="@{/findPassword}" method="post">
    <div class="container">
        <div>
            <label> 아이디: <input type="text" th:field="*{username}"/> </label>
            <p th:if="${#fields.hasErrors('username')}" class="label label-danger" th:errors="*{username}">username err</p>
        </div>
        <div>
            <label> 이메일: <input type="text" class="form-control" th:field="*{email}"/> </label>
            <p th:if="${#fields.hasErrors('email')}" class="label label-danger" th:errors="*{email}">email err</p>
        </div>
        <br/>
        <button type="submit">비밀번호 찾기</button><br>
    </div>
</form>
</body>
</html>

<!DOCTYPE html>

