<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{layout/layout :: layout (~{::body})}">
</head>
<body>
<div th:object="${member}">
    <label><b>아이디</b></label>
    <label th:text="*{username}"></label>
    <br>
    <label><b>이메일</b></label>
    <label th:text="*{email}"></label>
    <a href="/changePassword">비밀번호 변경</a>
</div>
<div th:object="${vet}">
    <label><b>이름</b></label>
    <td th:text="*{name}"></td>
    <br>
    <label><b>전문 분야</b></label>
    <td th:text="*{specialty.getName()}"></td>

    <h2>소개글</h2>
    <textarea th:text="*{description}"></textarea>
    <br>
</div>
<form th:object="${member}" th:action="@{/changePassword}" method="get">
    <input type="hidden" class="form-control" th:field="*{username}"/>
    <button type="submit" width="150">소개글 변경</button>
    <br>
</form>

</body>
</html>
